<p>Bem vindo @TempData["Nome"] , Esperamos que vc encontre o melhor evento.</p>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<div class="col-md-12">

    <div class="pull-right">
        <a class="btn btn-default" asp-controller="Evento" asp-action="Logout">
            <i class="icon-user glyphicon glyphicon-remove"></i>
        </a>

        <a class="btn btn-default" type="submit">
            <i class="icon-user glyphicon glyphicon-th"></i>
        </a>

    </div>

    <div class="col-md-3 FaseImg">
        <img id="thumbnail"
            src="https://thumbs.dreamstime.com/b/do-retrato-masculino-do-avatar-do-%C3%ADcone-do-perfil-pessoa-ocasional-46846328.jpg"
            class="img-circle img-responsive center-block" alt="Imagem" width="150" />
    </div>

</div>