@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao WebEventos</h1>
    <a class="btn btn-outline-info" id="btnEntrar" asp-controller="Cliente" asp-action="Cadastro">Entrar</a>
</div>
