@model Cliente

<div class="text-danger">
    @Html.ValidationSummary(true)
</div>

<div class="container col-11 col-md-9" id="form-container">
    <div class="row gx-5">
        <div class="col-md6">
            <h2>Realize o seu cadastro</h2>
            <form asp-controller="Cliente" asp-action="CadastrarCliente" method="post">
                <div class="form-floating mb-3">
                    <input asp-for="Nome" class="form-control" />
                    <label asp-for="Nome"> </label>

                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" />
                    <label asp-for="Email"> </label>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Telefone" class="form-control" />
                    <label asp-for="Telefone"> </label>

                </div>

                <div class="form-floating mb-3">
                    <input type="password" asp-for="Password" class="form-control" />
                    <label asp-for="Password"> </label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <label asp-for="ConfirmPassword"></label>
                </div>

                <div class="mb-3">
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" value="" id="agree-form" name="agree-form">
                        <label for="agree-form" class="form-check-label">
                            Você aceita os <a href="#">termos de serviço</a>
                        </label>
                    </div>

                </div>

                <div class="mb-3">
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" checked id="newsletter" name="newsletter">
                        <label for="newsletter" class="form-check-label">
                            Deseja receber as nossas NewsLetter?
                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Cadastrar">
                </div>

            </form>

            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-12">
                        <img src="~/img/hello.svg" alt="Tela de Registro" class="img-fluid">
                    </div>

                    <div class="col-12" id="link-container">
                        <a asp-controller="Cliente" asp-action="Login">Eu já tenho uma conta</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>